 body{
    background-color:rgb(243, 178, 60);
    opacity: 0.7;
 }
 
 .bob{
 opacity:0.5;
    
}
.stuart{
   float:right;
   border: solid 1px;
   padding-bottom: 0px;
   margin: auto;
   border:none;
    
   margin-left: 50%;
   -webkit-box-reflect:below  1px;-webkit-box-reflect: below;-webkit-box-reflect: below 0px linear-gradient(to bottom, rgb(0,0,0,0.1), rgb(0,0,0,3.0));
   
   
}
#main{
   display: flex;
   
}
.signup{
   border:solid 5px white;
   border-radius: 40px;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5%;
   margin-right: 30%;
   position: relative;
   margin-bottom: 70%;
   padding-right: 7%;
   margin-left: 30%;
   background-color: white;
   opacity: 0.9;
   
}
button{
   background-color: rgb(248, 161, 10);
   -webkit-text-fill-color: white;
   font-size: xx-large;
}
    
